:root {
    --color-primery: #434455;
    --color-primery-inverted: #FFFFFF;
    --color-secondary: #2E2F42;
    --color-brand-dark: #404BBF;
    --color-brand-light: #4D5AE5;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primery);
    background-color: var(--color-primery-inverted);
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: Raleway, sans-serif;
    color: var(--color-secondary);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-part {
    color: var(--color-brand-light);
}

.header-link {
    color: var(--color-secondary);
    font-weight: 500;line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.address {
    font-weight: 400;
    font-style: normal;
}

.header-link:hover {
    color: var(--color-brand-dark);
}

.header-link:focus {
    color: var(--color-brand-dark);
}

.first-section {
    background-color: var(--color-secondary);
}

.main-title {
    color: var(--color-primery-inverted);
    font-size: 56px;
    line-height:1.07;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04em;
}

.button {
    color: var(--color-primery-inverted);
    background-color: var(--color-brand-light);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-brand-dark);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages-titles {
    color: var(--color-secondary);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.anvantages-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.work-title {
    color: var(--color-secondary);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
}

.team-item {
    background-color: var(--color-primery-inverted);
}

.team-title {
    color: var(--color-secondary);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.staff-name {
    color: var(--color-secondary);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.job-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.filter-button {
    font-family: inherit;
    color: var(--color-brand-light);
    background-color: #E7E9FC;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.filter-button:hover {
    color: var(--color-primery-inverted);
    background-color: var(--color-brand-dark);
}

.filter-button:focus {
    color: var(--color-primery-inverted);
    background-color: var(--color-brand-dark);
}

.item-filter {
    text-decoration: none;
}

.product-name {
    color: var(--color-secondary);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.product-type {
    color: var(--color-primery);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
background-color: var(--color-secondary);
}

.logo-footer {
    font-family: Raleway, sans-serif;
    color: #F4F4FD;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-text {
    color: #E7E9FC;
    line-height: 1.5;
    letter-spacing: 0.02em;
}